<div class="player-area-small group">

  <div class="name-details">
    <div class="track-title"><a href="#users/<%= user.get('id') %>"><%= user.escape('display_name') %></a></div>
    <br>
    <br>
    <div class="display-name"><a><%= user.escape('fname') %> <%= user.escape('lname') %></a></div>
    <br>
    <br>
    <div class="display-name"><a href="#search/<%= user.escape('location') %>"><%= user.escape('location') %></a></div>


    <ul class="author-info group">
      <li class="followers-image"></li>
      <li class="followers-count"><%= user.followers().length %></li>
      <li class="tracks-image"></li>
      <li class="tracks-count"><%= user.get('tracks_count') %></li>
    </ul>
  </div>

  <a href="#users/<%= user.get('id') %>">
    <img class="main-user" src="<%= user.get('image_url') %>" width="120" height="120" />
  </a>

</div>

<div class="info-and-buttons group">

  <% if (CloudSound.currentUser.isSignedIn()) { %>
    <button class="follow-button"></button>
  <% } %>

</div>
