<% var author = track.author() %>

<div class="header"></div>

<div class="player-area group">

  <div class="player group">
    <button class="play-pause paused"></button>
    <div class="name-details">
      <div class="display-name"><%= author.escape('display_name') %></div>
      <br>
      <div class="track-title"><%= track.escape('title') %></div>
    </div>
  </div>

  <div id="audio-wave">
  <div class="cursor-time">
    0:00
  </div>
  <div class="end-time">

  </div>
  </div>

  <% if (track.get('image_url')) { %>
    <img class="main" src="<%= track.get('image_url') %>" width="340" height="340" />
  <% } else { %>
    <img class="main" src="<%= author.get('image_url') %>" width="340" height="340" />
  <% } %>

</div>

<br>

<div class="comment-area">

  <div class="upper-comment-area">

    <div class="comment-form-area">

    </div>

    <br>

    <div class="info-and-buttons">

      <button class="like-button">Like</button>

      <ul class="track-info">
        <li>Plays: <%= track.get('plays') %></li>
        <li>Likes: <%= track.get('likes') %></li>
      </ul>

    </div>

  </div>

  <br>

  <div class="lower-comment-area">

    <div class="author-info-area">

      <img class="mini" src="<%= author.get('image_url') %>" width="120" height="120" />

      <br>

      <div class="author-name"><%= author.get('display_name') %></div>

      <br>

      <ul class="author-info">
        <!-- <li>Followers: <%= track.author.followers %></li> -->
        <li>Tracks: <%= author.get('tracks') %></li>
      </ul>

    </div>

  </div>

</div>
