<% var author = track.author() %>

<div class="header"></div>

<div class="player-area transitioning group">

  <div class="player group">
    <button class="play-pause loading">
      <div class="loading-animation">
        <span class="one"></span><span class="two"></span><span class="three"></span>
      </div>
    </button>
    <div class="name-details">
      <div class="display-name"><a href="#users/<%= author.get('id') %>"><%= author.escape('display_name') %></a></div>
      <br>
      <div class="track-title"><%= track.escape('title') %></div>
    </div>
  </div>

  <div id="audio-wave">
    <div id="progress-bar">
      <div class="progress-bar"></div>
    </div>
    <div class="track-times hidden">
      <div class="cursor-time"></div>
      <div class="end-time"></div>
    </div>
  </div>

  <% if (track.get('image_url')) { %>
    <img class="main" src="<%= track.get('image_url') %>" width="340" height="340" />
  <% } else { %>
    <img class="main" src="<%= author.get('image_url') %>" width="340" height="340" />
  <% } %>

</div>

<div class="comment-area transitioning">

  <div class="upper-comment-area">

    <div class="comment-form-area">

    </div>

    <div class="info-and-buttons group">

      <% if (CloudSound.currentUser.isSignedIn()) { %>
        <button class="like-button"></button>
      <% } %>

      <ul class="track-info group">
        <li class="plays-image"></li>
        <li class="plays-count"><%= track.get('plays') %></li>
        <li class="likes-image"></li>
        <li class="likes-count"><%= track.likes().length %></li>
        <li class="comments-image"></li>
        <li class="comments-count"><%= track.comments().length %></li>
      </ul>

    </div>

  </div>

  <div class="lower-comment-area group">

    <div class="author-info-area">

      <a href="#users/<%= author.id %>">
        <img class="mini" src="<%= author.get('image_url') %>" width="120" height="120" />
      </a>

      <div class="author-name"><a href="#users/<%= author.id %>"><%= author.get('display_name') %></a></div>

      <br>

      <ul class="author-info group">
        <li class="followers-image"></li>
        <li class="followers-count"><%= author.get('follows') %></li>
        <li class="tracks-image"></li>
        <li class="tracks-count"><%= author.get('tracks_count') %></li>
      </ul>

    </div>

  </div>

  <div class="loading-spinner loader"></div>

</div>
